<h1>Add Books Here</h1>

<form action="/books" method="POST">
    <p>
        <label for="book">Book 1:</label>
        <input type="text" name="book[title]" id="book" />
    </p>

  
       <input type="submit" />
    
</form>