<h1>Update Books</h1>

<h2>Edits for <%= @book.title %></h2>

  <form action="/book/<%= @book.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Book Title:</label>
    <input type="text" name="book[title]" id= "book_title" value="<%= @book.title %>">
